# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build artifacts
build/
dist/
public/
.next/
out/
coverage/

# Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Tailwind CSS cache
.tailwind/

# MongoDB data (if using local DB)
data/
dump/
