@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";



body{
  font-family: 'Manrope';
}

.message {
  @apply text-left w-full p-4 text-sm text-white bg-[#f74850]
}

.successMsg {
  @apply bg-[#5cb85c]
}

.iconHover {
  @apply text-slate-300 transition ease-in-out hover:cursor-pointer hover:text-purple-500
}

.heading {
  position: relative;
}

.heading::after {
  content: '';
  background-color: red;
  height: 10px;
  width: 10px;
  position: absolute;
  animation: rapidColorChange .5s infinite alternate;
}

.heading::before {
  content: '';
  background-color: black;
  height: 10px;
  width: 10px;
  position: absolute;
  right: 142px;
  top: -10px;
  animation: rapidColorChange2 .5s infinite alternate;
}

.animation {
  position: relative;
}

.animation::before {
  content: '';
  background-color: red;
  height: 760px;
  width: 2px;
  position: absolute;
  top: 20px;
  left: -15px;
  
}

.animation::after {
  content: '';
  background-color: black;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 20px;
  left: -24px;
  border-radius: 50%;
  animation: moveBall 3s linear infinite;
}

@keyframes moveBall {
  0% {
    top: 20px;
    opacity: .2;
  }
  50% {
    top: 760px;
    opacity: 1;
  }
  100% {
    top: 20px;
    opacity: .2;
  }
}

@keyframes rapidColorChange {
  0% { background-color: red; }
  50% { background-color: black; }
  100% { background-color: red; }
}

@keyframes rapidColorChange2 {
  0% { background-color: black; }
  50% { background-color: red; }
  100% { background-color: black; }
}