@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

body{
  font-family: 'Manrope';
  background-color: #abd1c6;
}

.message {
  @apply text-left w-full p-4 text-sm text-white bg-[#f74850]
}

.successMsg {
  @apply bg-[#5cb85c]
}

.iconHover {
  @apply text-slate-300 transition ease-in-out hover:cursor-pointer hover:text-purple-500
}
